@font-face {
  font-family: "tajwal-bold";
  src: url(../Fonts/Tajawal/Tajawal-Bold.ttf);
}
@font-face {
  font-family: "tajwal-extra-bold";
  src: url(../Fonts/Tajawal/Tajawal-ExtraBold.ttf);
}
@font-face {
  font-family: "tajwal-medium";
  src: url(../Fonts/Tajawal/Tajawal-Medium.ttf);
}

/*navbar Start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tajwal-medium", sans-serif;
}

body {
  height: 100vh;
  position: relative;
}

.HomeBack {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #004a80;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  top: 580px;
  z-index: 1111;
  display: none;
}

.HomeBack i {
  font-size: 2rem;
  color: #fdfdfd;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo,
.footer-logo {
  font-size: 2rem;
  color: #11468f;
  font-weight: 800;
  font-family: "tajwal-extra-bold" sans-serif;
}

.navbar-logo span {
  color: #f76e11;
}

.nav-list {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.nav-item {
  list-style: none;
  display: flex;
}

.nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  display: flex;
  position: relative;
  transition: 0.3s all;
}

.nav-link:hover {
  color: #f76e11;
}

.burger-menu {
  width: 30px;
  height: 4px;
  background-color: #11468f;
  display: flex;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 -7px #00468f;
  display: none;
}
.burger-menu::before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #11468f;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  right: 0;
  transform: translateY(7px);
}

#checked {
  display: none;
}

#checked:checked ~ .mobil-nav {
  left: 0;
}

.mobil-nav {
  width: 50%;
  height: 100vh;
  background-color: #f76e11;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1111111111111;
  left: -50%;
  border-radius: 0 30px;
  transition: all 0.5s ease-in-out;
}

.mobil-nav-item {
  margin-bottom: 40px;
  list-style: none;
}

.mobil-nav-link {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  color: #fdfdfd;
}

/*navbar end*/

.hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url(../Imgs/muaythaiHero.jpg);
  background-size: cover;
  background-position-y: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: 0.3s all;
}

.hero-section::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #11468f7a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.hero-section-container {
  width: 80%;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-content {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-section-title {
  font-size: 3rem;
  color: #f76e11;
}

.hero-section-text {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: white;
}

.hero-section-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background-color: #f76e11;
  color: #fdfdfd;
  cursor: pointer;
  margin-bottom: 40px;
  transition: 0.3s all;
}

.hero-section-button:hover {
  transform: scale(1.1);
}

.hero-section-points {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-section-input {
  display: none;
}

.hero-section-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fdfdfd;
  cursor: pointer;
  margin: 15px 10px;
  transition: all 0.5s ease-in-out;
}

.hero-section-label:hover {
  background: #f76e11;
}

#radio-1:checked ~ #Label-1 {
  background-color: #f76e11;
}
#radio-2:checked ~ #Label-2 {
  background-color: #f76e11;
}

/*about section start*/
.about-section {
  width: 100%;
  height: 600px;
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.about-section-shap {
  width: 330px;
  height: 350px;
  background: #004a80;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../Imgs/aboutimg.jpg);
  background-size: cover;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.116),
    0px -10px 25px rgba(0, 0, 0, 0.116);
}

.about-section-shap::after {
  content: "";
  width: 75%;
  height: 75%;
  background-color: #004a80;
  position: absolute;
  top: -25px;
  right: -25px;
  z-index: -1;
}
.about-section-shap::before {
  content: "";
  width: 75%;
  height: 75%;
  background-color: #f76e11;
  position: absolute;
  bottom: -25px;
  left: -25px;
  z-index: -1;
}

.about-section-content {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 40px;
}

.about-section-title,
.directory-section-title,
.contact-title {
  font-size: 3rem;
  color: #f76e11;
  margin-bottom: 30px;
}

.about-section-text,
.directory-section-text {
  font-size: 1rem;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.795);
}

.about-section-text span {
  color: #f76e11;
}

.about-section-icon {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.747);
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-section-icon i {
  font-size: 1.5rem;
  transition: 0.3s all;
  cursor: pointer;
  margin: 15px;
}

.about-section-icon i:hover {
  color: #f76e11;
  transform: scale(1.1);
}

.about-section-icon span {
  font-size: 1rem;
}

.directory-section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f76d1173;
}

.directory-section-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.directory-section-img {
  width: 350px;
  height: 380px;
  background-image: url(../Imgs/directoryImg.jpeg);
  background-size: cover;
  background-position-y: -30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.116),
    0px -5px 15px rgba(0, 0, 0, 0.116);
}

.directory-section-content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*directory end*/

.contact-section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section-cards {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section-card {
  width: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  margin-right: 40px;
  cursor: pointer;
  transition: 0.5s all;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.116),
    0px -5px 15px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
}

.contact-section-card:hover {
  transform: scale(1.07) translateY(-25px);
}

.contact-section-card i {
  font-size: 4rem;
  margin-bottom: 60px;
  color: #f76e11;
}

.contact-card-text {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.685);
  text-align: center;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f76d1173;
}

.footer-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo h1 span {
  color: #f76e11;
}

.footer-section-icons {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list li {
  margin-left: 20px;
  list-style: none;
}

.footer-list li a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.footer-list li a:hover {
  color: #f76e11;
}

/*about section end*/

/*Media query*/

@media screen {
  @media (max-width: 1024px) {
    .contact-section-container {
      width: 100%;
    }
    .contact-section-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (max-width: 780px) {
    .burger-menu {
      display: flex;
    }
    .is-active.burger-menu {
      box-shadow: none;
      transform: rotate(45deg);
    }
    .is-active.burger-menu::before {
      transform: rotate(-90deg);
    }
    .nav-list {
      display: none;
    }
    .hero-section-container {
      width: 100%;
    }
    .about-section-container,
    .directory-section-container {
      width: 100%;
      justify-content: space-around;
    }
    .about-section-shap {
      width: 250px;
      height: 280px;
    }
    .about-section-shap::before {
      width: 200px;
      height: 200px;
    }
    .about-section-shap::after {
      width: 200px;
      height: 200px;
    }

    .directory-section-img {
      width: 280px;
      height: 280px;
    }
    .about-section-title,
    .directory-section-title {
      font-size: 1.7rem;
      margin-bottom: 10px;
    }
    .about-section-text,
    .directory-section-text {
      font-size: 0.9rem;
      margin-bottom: 10px;
    }

    .about-section-icon {
      margin-bottom: 10px;
    }

    .about-section-icon i {
      font-size: 1rem;
    }

    .about-section-icon span {
      font-size: 0.8rem;
    }
    .contact-section-container {
      width: 100%;
    }
    .contact-section {
      height: auto;
    }
    .contact-section-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .contact-section-card {
      margin-top: 50px;
    }
    .contact-section-card:last-child {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 430px) {
    .navbar-logo {
      font-size: 1.5rem;
    }
    .hero-section-content {
      width: 200px;
    }
    .hero-section-title {
      font-size: 1.8rem;
    }
    .contact-title {
      margin-top: 30px;
      text-align: center;
    }
    .contact-section-card {
      margin: 30px 0;
    }
    .hero-section-text {
      font-size: 0.8rem;
    }
    .hero-section-button {
      width: 90px;
      height: 35px;
    }
    .hero-section-label {
      width: 15px;
      height: 15px;
    }
    .hero-section-container {
      width: 100%;
      height: 100%;
    }
    .about-section,
    .directory-section {
      height: auto;
    }
    .about-section-container,
    .directory-section-container {
      flex-direction: column;
    }
    .about-section-content,
    .directory-section-content {
      width: 80%;
      align-items: flex-start;
      height: 60%;
      margin: 30px 0;
    }
    .directory-section-img {
      margin: 40px 0;
    }
    .about-section-shap {
      width: 200px;
      height: 230px;
      margin-bottom: 60px;
    }
    .about-section-shap::before {
      width: 150px;
      height: 150px;
    }
    .about-section-shap::after {
      width: 150px;
      height: 150px;
    }
    .footer-container {
      width: 100%;
    }
    .footer-logo {
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
    .footer-list {
      width: 250px;
    }
    .footer-list li a {
      font-size: 0.7rem;
    }
  }
}
